# Ignore system files
.DS_Store
Thumbs.db

# Ignore personal files
*.pdf
*.xlsx
*.docx

# Ignore all files beginning with .
.*


# Ignore directories
/Documents/
/Downloads/
/Music/
/Movies/
/Pictures/
/Library/
/Projects/

# Ignore from root
Applications/
Desktop/
Public/



# Ignore all files in parent directories
../../../../../*

# Ignore everything in the workspace
workspace/

